# Projeto 1 - Ciência dos Dados

Nome: Maria Eduarda Torres

Nome: Gabriela Choichit Giosa

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [63]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [64]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/duddatorres/Documents/Cdados/Projetotweeter

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [65]:
dados = pd.read_excel('Iphone_11.xlsx')
dados.head()

                                         Treinamento  categorias
0  rt @maionese53: papai acaba de ajeitar meu cel...           4
1  @kt_lilstar @tiktokproibido no fim qm vai ter ...           3
2  estou aceitando um iphone 11 pro max ou um s20...           3
3  ai n to fazendo nada acho q vou comprar um iph...           3
4  @_gabialmeida07 ganhando iphone 11 eu lambia a...           4

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

#### Separando os dados

In [66]:
GM = dados['categorias'] == 5
G = dados['categorias'] == 4
N = dados['categorias'] == 3
NG = dados['categorias'] == 2
D = dados['categorias'] == 1

In [67]:
Gosta_muito = dados.loc[GM,:]
Gosta = dados.loc[G,:]
Neutro = dados.loc[N,:]
Nao_gosta = dados.loc[NG,:]
Detesta = dados.loc[D,:]

In [68]:
universo = dados['categorias']
universo.value_counts()

3    156
5     94
4     24
2     16
1     10
Name: categorias, dtype: int64

##### Subcategorias:

In [69]:
#Tweets positivos
Ok = (dados['categorias'] == 5) | (dados['categorias'] == 4)
positivo = dados.loc[Ok,:]

In [70]:
#Tweets negativos
N_ok = (dados['categorias'] == 1) | (dados['categorias'] == 2)
negativo = dados.loc[N_ok,:]

In [71]:
#Tweets neutros
n = (dados['categorias'] == 3)
neutro = dados.loc[n,:]

##### Total de ocorrências

In [72]:
total = len(dados.index)
total_neg = len(negativo.index)
total_pos = len(positivo.index)
total_neutro = len(neutro.index)
total_pos, total, total_neg, total_neutro

(118, 300, 26, 156)

##### Probabilidade de ser positivo

In [73]:
prob_pos = total_pos / total
prob_pos

0.3933333333333333

##### Probabilidade de ser negativo

In [74]:
prob_neg = total_neg / total
prob_neg

0.08666666666666667

##### Probabilidade de ser neutro

In [75]:
prob_neutro = total_neutro / total
prob_neutro

0.52

##### Transformando em texto

In [76]:
texto=""

In [77]:
for e in dados.Treinamento:
    texto+= " " + e

##### Filtrando texto positivo

In [78]:
texto_positivo =""

In [79]:
for e in positivo.Treinamento:
    texto_positivo+= " " + e

##### Filtrando texto negativo

In [80]:
texto_negativo =""

In [81]:
for e in negativo.Treinamento:
    texto_negativo+= " " + e

##### Filtrando texto neutro

In [82]:
texto_neutro =""

In [83]:
for e in neutro.Treinamento:
    texto_neutro+= " " + e

##### Limpando textos

In [84]:
import re 


def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    import string
    punctuation = '[!-.:?;]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

##### Split and cleanup

In [85]:
texto = cleanup(texto.lower())
texto_split = pd.Series(texto.split())

texto_positivo = cleanup(texto_positivo.lower())
texto_positivo_split = pd.Series(texto_positivo.split())

texto_negativo = cleanup(texto_negativo.lower())
texto_negativo_split = pd.Series(texto_negativo.split())

texto_neutro= cleanup(texto_neutro.lower())
texto_neutro_split = pd.Series(texto_neutro.split())

##### Frequencia absoluta

In [86]:
tabela_texto = texto_split.value_counts()

tabela_texto_positivo = texto_positivo_split.value_counts()

tabela_texto_negativo = texto_negativo_split .value_counts()

tabela_texto_neutro = texto_neutro_split.value_counts()

##### Frequencias relativas

In [87]:
tabela_texto_relativa = texto_split.value_counts(True)

In [88]:
tabela_positivo_relativa = texto_positivo_split.value_counts(True)
tabela_positivo_relativa

iphone          0.073987
11              0.070464
um              0.042866
pro             0.022314
o               0.022314
                  ...
porém           0.000587
amigos          0.000587
falei           0.000587
@delcacomani    0.000587
suggar          0.000587
Length: 575, dtype: float64

In [89]:
tabela_negativo_relativa = texto_negativo_split.value_counts(True)

In [90]:
tabela_neutro_relativa = texto_neutro_split.value_counts(True)

##### Probalidade

In [91]:
tabela_positivo_relativa['bom']

0.0005871990604815032

##### Interseção entre os conjuntos

In [92]:
set_positivo = set(tabela_positivo_relativa.index)
set_negativo = set(tabela_negativo_relativa.index)
set_neutro = set(tabela_neutro_relativa.index)

inter = set_positivo.intersection(set_negativo, set_neutro)

inter

{'//t',
 '1',
 '11',
 'a',
 'agora',
 'ai',
 'ano',
 'apple',
 'as',
 'até',
 'aí',
 'bateria',
 'celular',
 'com',
 'comprar',
 'comprou',
 'câmera',
 'da',
 'de',
 'deus',
 'dinheiro',
 'dm',
 'do',
 'e',
 'em',
 'esse',
 'eu',
 'fica',
 'foto',
 'fotos',
 'galaxy',
 'https',
 'iphone',
 'já',
 'kkkkkkk',
 'mais',
 'mas',
 'max',
 'me',
 'mercado',
 'mesmo',
 'meu',
 'meus',
 'mim',
 'muito',
 'na',
 'nada',
 'nao',
 'no',
 'não',
 'o',
 'oq',
 'os',
 'ou',
 'pai',
 'para',
 'plus',
 'por',
 'porra',
 'pq',
 'pra',
 'preço',
 'pro',
 'q',
 'quando',
 'que',
 'quero',
 'rt',
 's20',
 'se',
 'ser',
 'só',
 'tem',
 'tenho',
 'ter',
 'troco',
 'tudo',
 'tá',
 'tô',
 'um',
 'uma',
 'vai',
 'vc',
 'xr',
 'xs',
 'é'}

##### Frase a se classificar

In [95]:
base_teste = pd.ExcelFile('Iphone_11.xlsx')
df1 = pd.read_excel(base_teste,'Teste')
df1.head()

                                               Teste  Unnamed: 1
0  rt @esteziinh_: @biaaa_crf marco mesmo pq não ...           4
1  gabrieljnio6 @ericat_lol po man o meu é iphone...           3
2      iphone 11 é difícil pra crl p mexer kkka🤦🏾‍♂️           1
3  rt @xajuliaxouza: só preciso de um iphone 11 e...           4
4  eu na #quarentena marcando pessoas em sorteio ...           3

In [103]:
for e in df1.Teste:
    e = cleanup(e.lower())

In [105]:
e

'@almeidac_11 @embaixadachina @zlj517 @spokespersonchn @mfa_china vc debochou do fato deles usaram iphone e eu falei q eles n são obrigados a usar telefone chinês já q eles nem tão na china uai'

##### Transformar em lista

In [108]:
tabela_tweets = pd.Series(e.split())
print(tabela_tweets)
tabela_tweets_s=tabela_tweets.value_counts(True)

0         @almeidac_11
1      @embaixadachina
2              @zlj517
3     @spokespersonchn
4           @mfa_china
5                   vc
6             debochou
7                   do
8                 fato
9                deles
10              usaram
11              iphone
12                   e
13                  eu
14               falei
15                   q
16                eles
17                   n
18                 são
19           obrigados
20                   a
21                usar
22            telefone
23              chinês
24                  já
25                   q
26                eles
27                 nem
28                 tão
29                  na
30               china
31                 uai
dtype: object

In [110]:
import re

for e in dados.Treinamento :
    x = re.sub("@[A-Za-z0-9]+","",e)
x

'rt : eu quero pega o iphone 11 cansei desse já'

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza análise de sentimento e visualiza estes dados

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**